<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>Tomcat Manager Application</display-name>
	<description>
    Question Generator Engine
  </description>
	<servlet>
		<servlet-name>QuestionGeneratorServlet</servlet-name>
		<servlet-class>me.kucoo.graph.servlet.QGenServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuestionGeneratorServlet</servlet-name>
		<url-pattern>/question</url-pattern>
	</servlet-mapping>
</web-app>